<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href='/css/styles.css'>


</head>

<body>
    <div class="main-content">

        <br><br><br><br><br> <br><br><br><br><br> <br><br><br> <br><br><br><br><br>
        <div id="titulo" class="element">
            TRAMA
        </div>
        <div id="menu" class="element">
            <a class="option" href="/">Nosotras</a>
            <a class="option" href="/help">Trabajos</a>
            <a class="option" href="/about">Talentos</a>
            <a class="option" href="/about">Contacto</a>
        </div>

    </div>

    </header>
    </div>

    <script src='/js/app.js'></script>
</body>

</html>